#soundtrackContainer{
    max-width: fit-content;
    padding: 10px 10px;
    align-items: center;
    border: 4px solid black;
    border-radius: 25px;
    background-color: #555555;
    justify-content: center;
}
#soundtrackContainer:hover{
    background-color: #222222;
    border: 4px solid #5414f7;
}
.songTitle{
    text-align: center;
    font-size: 15px;
    font-family: monospace;
    padding: 0px 0px;
    box-sizing: content-box;
    color: white;
}
#soundtracksContainer{
    max-width: fit-content;
    padding: 10px 10px;
    align-items: center;
    border: 4px solid black;
    border-radius: 25px;
    background-color: #777777;
    justify-content: center;
}